<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="https://expert.cnki.net/Expert/Detail/0000001026089942.htm">Cnki</a></li>
          <li><a href="https://xueshu.baidu.com/scholarID/CN-BNIAABUK">Baidu学术</a></li>
          <!--<li><a href="{{ '/' | prepend: site.baseurl }}">About</a></li>-->
          <!--<li><a href="{{ '/portfolio' | prepend: site.baseurl }}/">Portfolio</a></li>-->
          <!--<li><a href="https://fxrj.github.io/" target="_blank">Software</a></li>-->
          <li><a href="https://www.ihonux.com" target="_blank">Software</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. <a href="https://github.com/kssim/about-portfolio/">A.P</a> theme by kssim.
      </span>
    </footer>
  </body>
</html>
